@import './mixins'

$bpPhone: pxToRem(576)
$bpTablet: pxToRem(768)
$bpLaptop: pxToRem(992)
$bpLarge: pxToRem(1200)

$black: #000
$white: #fff
$primary: #0093E9
$grayLight: #CAD0D8
$grayDark: #79747E
$surface: #F0FFFA
$slate: #34303D

@font-face
  font-family: 'Roboto'
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype'), url('../assets/fonts/Roboto-Regular.woff') format('woff')
  font-weight: normal
@font-face
  font-family: 'Roboto'
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype'), url('../assets/fonts/Roboto-Bold.woff') format('woff')
  font-weight: bold

$fontPrimary: 'Roboto', sans-serif
$fontSizeBase: pxToRem(16)
$fontSizeSmall: pxToRem(12)
$fontSizeXSmall: pxToRem(10)
$fontSizeLarge: pxToRem(18)
$fontSizeHeading1: pxToRem(42)
$fontSizeHeading2: pxToRem(22)
$fontSizeHeading3: pxToRem(18)
$fontSizeHeading4: pxToRem(16)

$navbarHeight: pxToRem(64)
