$fa-font-path: '../../assets/fonts/FontAwesome'

@import '@angular/cdk/overlay-prebuilt.css'

@import './FontAwesome/fontawesome'
@import './FontAwesome/regular'
@import './FontAwesome/solid'
@import './FontAwesome/light'
@import './reset'
@import './mixins'
@import './variables'
@import './typography'

body
  display: flex
  flex-direction: column
  min-height: 100vh
  font-family: $fontPrimary
  font-size: $fontSizeBase

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0




